body {
    background-color: #8a2be2; /* Purple background color */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.info-box {
    font-size: 36px; /* Larger font size for the info boxes */
    color: #333; /* Dark text color */
    background-color: #fff; /* White background color for info boxes */
    padding: 20px;
    border-radius: 10px;
}
