body {
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    
}

title {
    font-size: 48px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #0fd10c;
    padding: 20px;
}

p {
    margin: 10px 0;
    font-size: 48px;
    line-height: 1.5;
    color: #0fd10c;
    text-align: center;
}
