<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSTEM INFO PAGE</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>SYSTEM INFORMATIONS</h1>
        <div id="info-container">
            <p id="hostname">Hostname: {{ hostname }}</p>
            <p id="cpu">CPU Usage: {{ cpu_usage }} %</p>
            <p id="memory">Memory Usage: {{ mem_usage }} %</p>
            <p id="ip-address">IP Address: {{ ip }}</p>
        </div>
    </div>
    <script src="static/scripts.js"></script>
    <script>
        // JavaScript code to refresh the page every 5 seconds
        setTimeout(() => {
            location.reload(); // Reload the page
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
</body>
</html>
